rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // MODO PERMISIVO PARA DESARROLLO
    // Permitir acceso completo a todas las colecciones
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
